.descriptionleft__container{
    display: grid;
    grid-template-columns: 40% 50%;
    gap: 10%;
    margin-bottom: 2rem;
}
.descriptionleft__image{
    border-radius: 50%;
    overflow: hidden;
    transition: var(--transition);
    margin-bottom: 1rem;
}
.descriptionleft__content h1{
    margin-bottom: 2rem; 
    position: relative;    
    isolation: isolate;    
}
.descriptionleft__content p{
    margin-bottom: 2rem;
}

/*MEDIA QUERIES (medium screens)*/

@media screen and (max-width:960px)
 {  
    .descriptionleft__container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5%;
    } 

    .descriptionleft__image {
        width: 80%;
        margin-left: 2rem;
    }   
 }    

/*MEDIA QUERIES (small screens)*/

@media screen and (max-width:480px){
  
    .descriptionleft__container{
        display: grid;  
        grid-template-columns: 1fr;
        gap: 2rem;  
    }           
}