.posts{
    background: var(--gradient-bg); 
}
.posts__container{
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    gap: 2rem;
      
    row-gap: 2rem;     
    margin-top: 5%;
    place-items: start;
}
.post__item{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    gap: 20px;    
}
