.google{
     width: 400;
     height: 300;       
}
.about{
     background: var(--gradient-bg);
}

/*MEDIA QUERIES (medium screens)*/

@media screen and (max-width:960px)
{   
   
}
    
/*MEDIA QUERIES (small screens)*/

@media screen and (max-width:480px)
{
     
}
