.dropincard{
    display: flex;
    flex-direction: column;   
    background: transparent;
    border: 1px solid rgb(57, 108, 185);
    text-align: center;    
    padding: 1rem 2rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
    transition: var(--transition);
    width: 18rem;
    height: 24rem;
    transition: transform 0.5s ease;     
}
.dropincard:hover{
    background: var(--color-gray-600);   
    border-color: var(--color-gray-400);
    cursor: default;    
    filter: drop-shadow(3px 3px 8px var(--hover-color)); /* Desplaza 3px en X, 3px en Y, 8px de desenfoque y color hover*/
    transition: var(--transition); 
    transform: scale(1.1); /* Aumenta el tamaño un 10% */         
}
.dropincard h4{
    color: var(--purple-color);
    font-size: 1.5rem;
    align-items: flex-start;
    text-transform: uppercase;
    text-decoration: underline;
}
.dropincard{
     height: 12rem;
}
.dropincard h2 {
    padding-top: 1rem;
    margin-top: -2rem;
    justify-content: flex-start;
    text-decoration: underline;
    color: var(--purple-color);
}