.cta__container{ 
        background: var(--gradient-bg);     
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        padding: 2rem;
        margin: 1rem,4rem,1rem;    
        border-radius: 1rem;               
    }
    .cta__container button{ 
        background: var(--secondary-color);        
    }
    .cta__container button:hover{ 
        background: var(--main-color);        
    }
