.cta__container{ 
        background: var(--gradient-bg);     
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        padding: 2rem;
        margin: 1rem 4rem 1rem; 
        border: solid 1px var(--color-gray-500);   
        border-radius: 1rem;               
    }
    .cta__container button{ 
        background: var(--secondary-color);        
    }
    .cta__container button:hover{ 
        background: var(--main-color);        
    }

/*MEDIA QUERIES (small screens)*/

@media screen and (max-width:480px)
{    
    .cta__container{       
        flex-direction: column;
        gap: 1rem;                       
    }
}