.header2{
    position: relative;
    top:0;
    left: 0;    
    width: 100%;
    height: 100vh;   
    
}
.header2__container{
    margin-top: 1rem;
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 90%;
    object-fit: contain; 
}