.FAQCard{
    background: var(--color-gray-500);
    padding: 2rem;
    border-radius: 1rem;
    cursor: pointer;
}
.FAQCard__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.FAQCard__icon{
    background: transparent;
    color: var(--color-gray-100);
    font-size: 1.5rem;
    cursor: pointer;
    transition: var(--transition);    
}
.FAQCard__icon :hover{
  background: var(--color-gray-400);
}

.FAQCard p {
    margin-top: 1.5rem;
}
.FAQCard h4 {
    color: var(--blue-color);
}


