.contact{
    background: var(--gradient-bg);
}

.contact__container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 1rem;
    gap: 3rem;

}
.contact__wrapper{
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2rem;
   
}

.contact__wrapper a{
    width: 80px;
    background: var(--main-color);
    font-size: 2rem;
    border: 2px solid transparent;
    transition: var(--transition);
    padding: 1rem;
    border-radius: 1.5rem;    
}
.contact__wrapper a:hover{
    cursor: pointer;
    background: var(--secondary-color);
}
.contact__form{
     display: flex;
    max-width: 70rem;
    margin: 1rem auto;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
}
.cta__form-input{
    display: flex;
    flex-direction: column;
}
.cta__form-input input {
    width: 100%;
    padding: 1.5rem;
    color: var(--main-color);
    background: var(--color-gray-200);
    border-radius: 0.8rem;
    margin: .7rem 0;
}
.cta__form-input input:hover{
    border-color: chartreuse;
    background: var(--color-gray-400);
}
.contact__form-content{
    display: flex;
    flex-direction: column;
}
.cta__form-content button {
    margin-top: 2rem;
    padding-top: 4rem;
}