.contact__container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;

}

.contact__wrapper{
    width: fit-content;
    display: flex;
    gap: 2rem;
}

.contact__wrapper a{
    background: var(--main-color);
    font-size: 2rem;
    border: 2px solid transparent;
    transition: var(--transition);
    padding: 2rem;
    border-radius: 1.5rem;
}




