.contact{
    background: var(--gradient-bg);
} 
.contact__container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 1rem;
    padding-bottom: 4rem;
    margin-top: -4rem;
    gap: 2rem;
}
.contact__wrapper{
    margin: 2rem 4rem 3rem 8rem;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-left: 4rem;
    padding-bottom: 6rem;   
}
.contact__wrapper a{
    width: 5rem;
    height: 4rem;
    background: var(--main-color);
    font-size: 2rem;
    border: 2px solid transparent;
    transition: var(--transition);
    padding: 1rem;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;  
}
.contact__wrapper a:hover{
    cursor: pointer;
    background: var(--secondary-color);
}
.contact__form{
    display: flex;
    max-width: 70rem;
    margin: 1rem auto;
    margin-right: 12rem;
    flex-direction: column;
    gap: 0.1rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}
.cta__form-input{
    display: flex;
    flex-direction: column;
}
.cta__form-input input {
    width: 100%;
    padding: 1rem;
    color: var(--main-color);
    background: var(--color-gray-100);
    border-radius: 0.8rem;
    margin: .5rem 0;    
}
.cta__form-input input:hover{    
    background: var(--color-gray-200);
}
.contact__form-content textarea:hover{    
    background: var(--color-gray-300);
}
.contact__form-content{
    display: flex;
    flex-direction: column;
    margin-bottom: -2rem;
}
.btn {
    margin-top: 0.5rem;
    padding-top: 1rem;
    background: var(--main-color-variant);
}

/*MEDIA QUERIES (medium screens)*/

@media screen and (max-width:960px)
{  
    .contact__wrapper{
        margin:  2rem;
        width: fit-content;
        flex-direction: column;
        gap: 4rem;
        padding-left: 2rem;
        padding-bottom: 4rem;   
    }        
    .contact__wrapper a:hover{
        cursor: pointer;
        background: var(--secondary-color);
    }
}    

/*MEDIA QUERIES (small screens)*/

@media screen and (max-width:480px)
{  
    .contact__container{
        display: flex;
        justify-content: center; 
        flex-direction: column;            
        align-items: center;
        margin: 2rem 3rem 1rem;
        gap: 1rem;
    }
    .contact__form-content button{
        margin-top: 1rem;
    }
    .contact__wrapper{
        margin: 1rem 2rem;
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: flex-start;        
        gap: 2rem;       
    }
} 