.fullclasses{
    background: var(--bg-color);
}

.fullclasses__container{
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(2,450px);
    justify-content: center;  
    gap: 6rem 4rem;      
    margin-top: 5%;
    padding-top: 2rem;
    margin-left: 8rem;
    object-fit: contain;
    overflow: hidden;
}
.fullclasses__card{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-content: end;
    height: 70vh;
}
.fullclasses__item{
    display: flex;
    flex-direction: column;
    gap: 1rem;     
}

.fullclasses__image{
    object-fit: contain;
    overflow-y: hidden;
    margin-bottom: 1rem;
}

.test{
    color: black;
}

/*MEDIA QUERIES (medium screens)*/

@media screen and (max-width:960px)
{          
  

}    

/*MEDIA QUERIES (small screens)*/

@media screen and (max-width:480px)
{          
  

}  