.fullclasses{
    background: var(--bg-color);
}
.fullclasses__container{
    display: grid;
    grid-template-columns: repeat(3, 320px);
    grid-template-rows: repeat(2,450px);
    justify-content: center;  
    gap: 1rem 2rem;      
    margin-top: 1%;
    padding-top: 1rem;
    margin-left: 6rem;
    object-fit: contain;
    overflow: hidden;
}
.fullclasses__card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 70vh;
}
.fullclasses__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 1rem;     
}

.fullclasses__image{
    object-fit: cover;
    margin-bottom: 1rem;
    width: 15rem;
    height: 15rem; 
    border-radius: 8%; 
   transition: transform 0.5s ease;   
}
.fullclasses__image :hover {
    filter: drop-shadow(3px 3px 8px var(--hover-color)); /* Desplaza 3px en X, 3px en Y, 8px de desenfoque y color hover*/
    transition: var(--transition); 
    transform: scale(1.1); /* Aumenta el tamaño un 10% */
}
.fullclasses__image img {
    border-radius: 8%;
}


/*MEDIA QUERIES (medium screens)*/
@media screen and (max-width:960px)
{          
    .fullclasses__container{
        display: grid;
        grid-template-columns: repeat(2, 250px);
        grid-template-rows: repeat(3,350px);
        justify-content: center;  
        gap: 1rem 2rem;      
        margin-top: 1rem;
        padding-bottom: 2rem;
        margin-left: 8rem;    
    }
    .fullclasses__card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        height: 80vh;
    }
}    
/*MEDIA QUERIES (small screens)*/

@media screen and (max-width:480px)
{          
    .fullclasses__container{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: repeat(7, 8rem);
        justify-content: center;  
        gap:  2rem;      
        margin-top: 1rem;
        margin-left: 2rem;    
    }
    .fullclasses__image{
        object-fit: contain;
        
        width:  8rem;
        height: 8rem;    
    }
    .fullclasses__item{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;    
    }
    .fullclasses__item h2{
       margin-bottom: 10rem;  
    }
    .fullclasses__card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: start;
        height: 80vh;
    }

}  
