.headeraux{  
        margin-top: 3rem;  
        height: 8rem;
        overflow: hidden;              
        border-bottom: 2px solid var(--color-gray-400); 
}
.headeraux__container{
        background: var(bg-color);
        width: 100%;
        height: 100%;     
        display: grid;
        place-items: center;
        position: relative;   
}
.headeraux__container-bg{
        position: absolute;        
        width: 100%;                   
}
.headeraux__container-bg img {
        opacity: 0.8;
}
.headeraux__content{
        position: relative;
        width: 44%;
        margin: 0 auto;
        text-align: center;
        color: var(--color-gray-100);
}