.header{         
    background: var(--gradient-bg);    
}
.header__container{
    display: grid;
    grid-template-columns: 60% 35%;
    width: 90vw; 
    height: 100vh;          
    place-items: center;      
    gap: 2rem;
    margin-top: 2rem; 
    margin-bottom: 1rem;
    padding-bottom: 2rem;    
}
.header__left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    margin-top: -8rem;
    margin-left: auto;  
}
.header__left h1{
    color: var(--gradient-bar-2);
    font-size:   60px;
    font-weight: 500;
    line-height: 220px;
    margin-left: -4rem;
}
.header__left h3 {
    margin-bottom: 1rem;
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 1.4rem;
}
.header__image{
    width: 620px;
    height: 450px;
    margin-top: -3rem;
    margin-right: 6rem;
   
}
.header__right{
    display: flex;
    justify-content: center;    
    margin-top: 4rem;
    margin-left: -14rem;
    margin-bottom: 8rem;    
}

@keyframes fadeIn {
    from{opacity: 0;}
    to {opacity: 1;}
}
.fade-in{
    animation: fadeIn 800ms ease-in-out; 
}

/*MEDIA QUERIES (medium screens)*/

@media screen and (max-width:960px){ 
.header__container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    width: 90vw;             
    align-content: flex-start;    
    gap: 2rem;
    margin-top: 6rem; 
    margin-bottom: 1rem;
    padding-bottom: 2rem;               
}
.header__image{
        width:  80%;
        height: 80%;
}
.header__right{
        display: flex;
        justify-content: center;
        width:  100%; 
        height: 80%;   
        margin-top: 4rem;
        margin-left: -18rem;
        margin-bottom: 8rem;    
}
  }    

/*MEDIA QUERIES (small screens)*/

@media screen and (max-width:480px)
{  
   .header{
    margin-top: 0;
    padding: 2rem 0 0;    
    }
    .header__container{
      display: flex;
      justify-content: center;      
      flex-direction: column;           
    }   
    .header__image{
        width: 80%;
        height: 80%;
    }
    .header__right{
        width:  100%; 
        height: 100%; 
    }

}