.main__header{          
    margin-top: -4rem ;
    background: var(--gradient-bg);
    margin-bottom: 4rem;
}
.main__header-container{
    display: grid;
    grid-template-columns: 60% 40%;
    height: 100vh;
    width: 90vw;       
    place-items: center;
    align-content: start;    
    gap: 1rem;
    margin-top: 2rem; 
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    position: relative;   
}
.main__header-left {
    margin-top: 1rem;
    margin-left: auto;
    position: relative;
    z-index: 10;
}
.main__header-left h1{
    color: var(--gradient-bar-2);
    font-size: 60px;
    font-weight: 500;
    line-height: 220px;   
}
.main__header-left h3 {
    margin-bottom: 1rem;
    color: var(--secondary-color);
    font-weight: 400;
}
.main__header-left p {
    margin:  1rem 0 3.5rem;
    font-size: 1.1rem;
}
.main__header-image{
    width: 400px;
    height: 400px;
    margin-top: -3rem;
    margin-right: 16rem;
}
.main__header-right{
    position: absolute;
    margin-top: 8rem;
    margin-bottom: 8rem;
    left: 700px;
    z-index: 5;
}
@keyframes fadeIn {
    from{opacity: 0;}
    to {opacity: 1;}
}
.fade-in{
    animation: fadeIn 800ms ease-in-out; 
}

/*MEDIA QUERIES (medium screens)*/

@media screen and (max-width:960px)
{   
    .main__header{
        height: fit-content;
        padding: 4rem 0;
    }
    .main__header-container{
        gap: 0;
    }
  }    

/*MEDIA QUERIES (small screens)*/

@media screen and (max-width:480px)
{
   .main__header{
    margin-top: 0;
    padding: 12rem 0 0;
    height: 100vh;
    }
    .main__header-container{
        display: flex;
        flex-direction: column;
        justify-content: center;        
    }
    .main__header-image{
        width: 300px;
        height: 300px;
    }    
} 