.main__header{         
    background: var(--gradient-bg);    
}
.main__header-container{
    display: grid;
    grid-template-columns: 60% 40%;
    width: 90vw; 
    height: 100vh;          
    place-items: center;
    align-content: start;    
    gap: 2rem;
    margin-top: 2rem; 
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    
}
.main__header-left {
    margin-top: -12rem;
    margin-left: auto;
 
}
.main__header-left h1{
    color: var(--gradient-bar-2);
    font-size:   60px;
    font-weight: 500;
    line-height: 220px;   
}
.main__header-left h3 {
    margin-bottom: 1rem;
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 1.4rem;
}
.main__header-image{
    width: 420px;
    height: 420px;
    margin-top: -5rem;
    margin-right: 16rem;
}
.main__header-right{
    display: flex;
    justify-content: center;    
    margin-top: 4rem;
    margin-left: -18rem;
    margin-bottom: 8rem;
    
}

@keyframes fadeIn {
    from{opacity: 0;}
    to {opacity: 1;}
}
.fade-in{
    animation: fadeIn 800ms ease-in-out; 
}

/*MEDIA QUERIES (medium screens)*/

@media screen and (max-width:960px)
{    
    .main__header-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: 100vh;
        width: 90vw;          
        place-items: center;
        align-content: start;    
        gap: 2rem;
        margin-top: 2rem; 
        margin-bottom: 1rem;
        padding-bottom: 2rem;
               
    }
    .main__header-image{
        width: 200px;
        height: 200px;
    }   
  }    

/*MEDIA QUERIES (small screens)*/

@media screen and (max-width:480px)
{  
   .main__header{
    margin-top: 0;
    padding: 2rem 0 0;    
    }
    .main__header-container{
      display: flex;
      justify-content: center;      
      flex-direction: column;           
    }   
    .main__header-image{
        width: 50%;
        height: 50%;
    }   
}