.cta2__container{ 
    background: var(--gradient-bg);     
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 1rem;
    margin: 1rem 20rem 2rem;    
    border-radius: 1rem; 
    width: 50%;              
}
.cta2__container button{ 
    background: var(--secondary-color);        
}
.cta2__container button:hover{ 
    background: var(--main-color);        
}
/*MEDIA QUERIES (small screens)*/

@media screen and (max-width:480px)
{    
.cta2__container{       
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 5rem 2rem; 
    padding: 2rem;                    
}
}