nav {
    display: grid; 
    width: 100vw;
    height: 5rem; 
    background-color: var(--bg-color);
    place-items: center;
    position: fixed;
    top: 0%;
    left: 0%;      
    font-size: 1.1rem; 
    z-index: 10;  
}
.nav__container{
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.nav__container ul{
    margin-left: -16rem; 
}
.nav__links{
    display: flex;
    gap: 3rem;
    align-items: center;
    margin-right: 2rem;
}
.nav__links a{
    transition: var(--transition);
    padding: 2px 6px;
    border-radius: 5px;
}
.nav__links a:hover{
    color: var(--nav-color);    
    background: var(--hover-color);          
}
.active-nav{
    position: relative;
}
.nav__toggle-btn{
    display: none;
}
.active-nav::after{
    content: '';
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    background: var(--main-color);
    position: absolute;
    left: calc(50%-0.5rem);
    transform: rotate(45deg);
    margin-top: 0.3 rem;
    margin-left: 1.3rem;
}
.divisory__line{
    border-bottom: 1px solid var(--main-color-variant);
}

/*MEDIA QUERIES (medium screens)*/
@media screen and (max-width:960px) {
nav{
border-bottom: 1px solid var(--color-gray-300); 
}
      
.nav__toggle-btn{
   display: inline-block;
   background: transparent;
   font-size: 1.8rem;
   cursor: pointer;
   margin-left: 6rem;
} 
.nav__toggle-btn svg{
   color: var(--color-gray-100);
}  
.nav__links{
    position: absolute;
    top: 100%;
    right: 0;      
    flex-direction: column;
    gap: 0;
}
.active-nav, .active-nav::after{
    display: none;
}
.nav__links li{
    height: 6rem;
    width: 100%;
    box-shadow: -2rem 2rem 5rem rgba(0, 0, 0, 0.5);
    animation: navAnimation 600ms ease forwards ;
    transform: rotateX(90deg); 
    opacity: 0;   
    transform-origin: top;  
} 
.nav__links li a {
    background-color: var(--main-color);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1rem 5rem 1rem 4rem;
}
.nav__links li:nth-child(2){
    animation-delay: 100ms;
}
.nav__links li:nth-child(3){
    animation-delay: 200ms;
}
.nav__links li:nth-child(4){
    animation-delay: 300ms;
}
.nav__links li:nth-child(5){
    animation-delay: 400ms;
}
@keyframes navAnimation {
    to{
        transform: rotateX(0);
        opacity: 1;
    }
}
.show__nav {
    display: flex;
}
.hide__nav {
    display: none;
}
}