.FAQs{
    background: var(--main-color-variant);
}
.FAQs__container {
    margin-bottom: 2rem;
    padding-top: 0.2rem;
    padding-bottom: 1rem;
}
.FAQs__wrapper{
    display: grid;
    margin : 1rem; 
    margin-top: 1rem;   
    grid-template-columns: 1fr 1fr ;
    gap: 1.5rem 2rem;
    align-items: flex-start;
}
.FAQs__container h3{
    color: var(--blue-color);
    text-decoration-line:underline;
}
.additional__left{
    padding-left:  1rem;
    padding-right: 2rem;    
}
.additional__right{
    margin-left:   2rem;
    padding-right: 2rem;
}

/*MEDIA QUERIES (medium screens)*/

@media screen and (max-width:960px)
 { 
    .FAQs__wrapper{
         grid-template-columns:  1fr; 
    }      
 }    

/*MEDIA QUERIES (small screens)*/

@media screen and (max-width:480px)
{
    .FAQs__wrapper{
        gap: 1rem;
        margin-top: 3rem;        
   }             
} 