.FAQs{
    background: var(--main-color-variant);
}
.FAQs__container {
    margin-bottom: 2rem;
    padding-top: 0.2rem;
    padding-bottom: 1rem;
}
.FAQs__wrapper{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem 5rem;
    align-items: flex-start;   
}


/*MEDIA QUERIES (medium screens)*/

@media screen and (max-width:960px)
 { 
    .FAQs__wrapper{
         grid-template-columns:  1fr; 
    }      
 }    

/*MEDIA QUERIES (small screens)*/

@media screen and (max-width:480px)
{
    .FAQs__wrapper{
        gap: 1rem;
        margin-top: 3rem;
   }      
        
}



 