.gallery{
  background: var(--main-color);             
}
.gallery__container{
  display: flex;
  justify-content: center;
  align-items: start; 
  margin-left: auto;
  padding-top: 1rem;
  margin-top: 2rem;
  width: 40rem;  
  height: 38rem;
}
.image{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 40rem;
  height: 35rem;
}

/*MEDIA QUERIES (medium screens)*/

@media screen and (max-width:960px)
 { 
  .gallery__container{
    display: flex;
    justify-content: center;
    align-items: center;     
    padding: 30px;
    width: 800px;    
    height: 600px;
    margin: 2rem;    
  }  
  .swiper{
    margin-bottom: 2rem;
}
.image{
  width: 30rem;
  height: 32rem;
}
 }    

/*MEDIA QUERIES (small screens)*/

@media screen and (max-width:480px)
{
   .image{
    width:  20rem;
    height: 30rem;
   }
 }      