.gallery{
  background: var(--main-color);             
}
.gallery__container{
  display: flex;
  justify-content: center;
  align-items: start; 
  margin-left: auto;
  padding-top: 1rem;
  padding-bottom: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 40rem;  
  height: 38rem;
}
.image{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 40rem;
  height: 35rem;
}

/*MEDIA QUERIES (medium screens)*/

@media screen and (max-width:960px)
 { 
  .gallery__container{
    display: flex;
    justify-content: center;
    align-items: center;     
    padding: 30px;
    width: 34rem;  
    height: 32rem;
    margin: 2rem;    
  }  
  .swiper{
    margin-bottom: 2rem;
}
.image{
  width: 32rem;
  height: 28rem;
}
 }    

/*MEDIA QUERIES (small screens)*/

@media screen and (max-width:480px)
{
  .gallery__container{     
    padding: 30px;
    width: 26rem;  
    height: 24rem;
    margin: 1rem;    
  }

   .image{
    width:  26rem;
    height: 20rem;
   }
 }      