.gallery{
  background: var(--main-color-variant);             
}
.gallery__container{
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-left: auto;
  padding-top: 40px;
  margin-top: 3rem;
  width: 600px;  
  height: 600px;
}
.swiper{
    margin-bottom: 4rem;     
}

.image{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 40rem;
  height: 40rem;
}

/*MEDIA QUERIES (medium screens)*/

@media screen and (max-width:960px)
 { 
  .gallery__container{
    display: flex;
    justify-content: center;
    align-items: center;     
    padding: 20px;
    width: 600px;    
    height: 400px;
    margin: 4rem;
    
  } 
  .image{
    display: flex;
    justify-content: flex-end;
    align-content: center;
    width: 400px;
    height: 300px;
  }
  
  .swiper{
    margin-bottom: 2rem;
}
 }    

/*MEDIA QUERIES (small screens)*/

@media screen and (max-width:480px)
{
   .image{
    width:  20rem;
    height: 30rem;
   }
 }       
