.onepost{         
    margin-top: 6rem;
}
.onepost__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    height: 70%;
}
.onepost__image{
    width: 100vw;
    height: 100vh;
}
   