.onepost{
    background: var(--bg-color);            
}
.onepost__container{
    display: grid;
    grid-template-columns: 58% 35%;
    margin-top: 6rem;   
    gap: 1rem;      
}
.onepost__content {    
    gap: 1rem;
}
.onepost__content h1{
    color: var(--blue-color);
}
.onepost__image{       
   width: 100%;
   height: 100%; 
   object-fit:cover;
   gap: 1rem;    
}

/*MEDIA QUERIES (medium screens)*/
@media screen and (max-width:960px)
{          
    .onepost__container{
        margin-top: 4rem;  
        gap: 4rem;          
    }
}    

/*MEDIA QUERIES (small screens)*/

@media screen and (max-width:480px)
{          
    .onepost__container{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        margin-top: 2rem;  
        width:  60%;
        height: 60%;
    }
}  