.onepost{
    background: var(--bg-color);            
}
.onepost__container{
    margin-top: 6rem;
    display: grid;
    grid-template-columns: 60% 35%;
    gap: 1rem;      
}
.onepost__content {    
    gap: 1rem;
}
.onepost__content h1{
    color: var(--blue-color);
}
.onepost__image{
   width: 100%;
   height: 100%; 
   object-fit:cover;
   gap: 1rem;
    
}

/*MEDIA QUERIES (medium screens)*/

@media screen and (max-width:960px)
{          
  

}    

/*MEDIA QUERIES (small screens)*/

@media screen and (max-width:480px)
{          
    .onepost__container{
        margin-top: 6rem;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width:  60%;
        height: 60%;
    }
}  