.onepost{
    background: var(--gradient-bg);            
}
.onepost__container{
    margin-top: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    height: 70%;
}
.onepost__image{
    width: 100vw;
    height: 100vh;
}   