.google{
    background: var(--gradient-bg);   
}
.google__container{
    display: flex;
    margin: 6rem 4 rem;
    padding-top: 4rem;
    align-items: center;
    justify-content: center;
    width:  100vw;
    height: 80vh;     
}
