.google{
    background: var(--gradient-bg);
}
.google__container{
    display: flex;
    margin: 6rem 12rem;
    padding-top: 4rem;
    align-items: center;
    justify-content: center;
    width:  80%;
    height: 80%;     
}
