.google{
    background: var(--gradient-bg);   
}
.google__container{
    margin: 6rem 2rem;
    padding-top: 4rem; 
    width:  100vw;
    height: 80vh;     
}

/*MEDIA QUERIES (medium screens)*/

@media screen and (max-width:960px)
{  
 
}    

/*MEDIA QUERIES (small screens)*/

@media screen and (max-width:480px)
{ 
   .google__container iframe{
        width: 50%;
        height: 50%;

   }
 }       
