.video{
    display: flex;
    justify-content: center;
        
    margin-top: 2rem;
    margin-left: -2rem;
    margin-bottom: 4rem;    
}
@keyframes fadeIn {
    from{opacity: 0}
    to {opacity: 1;}
}
.fade-in{
    animation: fadeIn 2000ms ease-in-out; 
}