.video{
    display: flex;
    justify-content: center;
    height: 80vh;
    width: 100vw;
    margin-left: 1rem;
    margin-top:  2rem;
    margin-bottom: 16rem;
    background: var(--gradient-bg);
}

.video__component{
    width: 1000px;
    height: 1000px;
    padding: 1rem;
}

/*MEDIA QUERIES (medium screens)*/

@media screen and (max-width:960px)
{   
  

  }
    

/*MEDIA QUERIES (small screens)*/

@media screen and (max-width:480px)
{
   .video{
    width: fit-content;
    } 
}