.footer{
    background: var(--footer-color);    
    padding-top: 7rem;
    font-size: 0.9rem;
    color: var(--color-gray-100);
    font-family: var(--secondary-font);        
}
.footer__container{
    display: grid;
    grid-template-columns: 24rem 1fr ;
    gap: 5rem;
}
.footer__logo{
    margin-top: -6rem;
}
.footer__article{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;  
}
.footer__article ul {
    padding-right: 2rem;
}
.footer__article ul li {
    display: flex;
    flex-wrap: wrap;
}
.footer__copyright{
     text-align: center;
     font-size: small;
     color: var(--color-gray-100);
     margin-top: 1rem;
     padding: 1rem 0;
     border-top: 1px solid var(--main-color-variant);    
     gap: 2rem;
}
.footer__copyright small{
    color: var(--color-gray-200);
}
.footer__copyright span{
    cursor: pointer;
}
.footer__copyright strong{
    font-size: smaller;
    color: var(--secondary-color);
}
.logo{
    background: var(--gradient-bg);
    box-shadow: 2px 2px 3px 2px var(--secondary-color);
    margin: 2rem 0;
    border-radius: 10%;
}

/*MEDIA QUERIES (medium screens)*/
@media screen and (max-width:960px)
 { 
.container{
    width: var(--container-width-md);
} 
  .footer__container{
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  } 
  .footer__article{
     gap: 1rem; 
  } 
}    

/*MEDIA QUERIES (small screens)*/
@media screen and (max-width:480px)
{
  .container{
        width: var(--container-width-sm);
    }
 .footer{
    margin-top: 7rem;
  }
   .footer__container{
    grid-template-columns: 1fr;  
    gap: 3rem;
    place-items: center;           
}
.footer__socials{
    display: flex;
    justify-content: center;
}
.footer__article{
    grid-template-columns:  1fr 1fr; 
    font-weight: 400 ;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 10rem;
}
.logo{
    margin-bottom: 2rem;
}
.footer__logo{
    display: flex;
    flex-direction: column;
    align-items: center;
} 
}