section{
    margin-top: 4rem;
}
.sectionhead{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    gap: 1rem;    
}
.sectionhead span{
    background: var(--color-gray-500);
    padding: 0.8rem;
    border-radius: 1rem;
    color: var(--secondary-color);
    font-size: 1.5rem;
}

/*MEDIA QUERIES (small screens)*/

@media screen and (max-width:480px)
{    
    .sectionhead {
        flex-direction: column;
    }
}