.pagepost__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    gap: 1rem;
}
.pagepost__left{
    display: flex;
    flex-direction: column;    
    margin-top: -1rem;
    margin-left: 6rem;   
}
.pagepost__left button{
 margin-top:   -2rem;   
 margin-right: -2rem;  
}
.pagepost__container img{
   border-radius: 5%; 
   }
.pagepost__right{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 8rem 1rem 2rem;   
}

.pagepost__post{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    margin-top: 1rem;
}
.pagepost__container a{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.pagepost__post{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: -12rem;
}
.pagepost__content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 2rem;
    margin-bottom: 2rem;
}
.pagepost__historial{
    justify-content: start;
    margin-left: -8rem;
    margin-top:  -2rem;
}

/*MEDIA QUERIES (medium screens)*/

@media screen and (max-width:960px)
{    
    .pagepost__container{      
        gap: 10rem;
    }    
  .pagepost__left img {
    width:  200px;
    height: 200px;
  }
  .pagepost__right img{
        width: 100px;
        height: 100px;
        
  }
  .pagepost__post{ 
    margin-left: -4rem;
}
}    

/*MEDIA QUERIES (small screens)*/

@media screen and (max-width:480px)
{          
    .pagepost__container{
        
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        margin-top: 2rem;
        margin-left: 1rem;
        gap: 1rem;
    }
    .pagepost__post{ 
        margin-left: 4 rem;
    }
    .pagepost__right{
              
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2rem 1rem 2rem;   
    }
    .pagepost__right img{
        width:  80px;
        height: 80px;
  }

}  