.descriptionright__image{
    border-radius: 50%;
    overflow: hidden;
    transform: skew(-15deg); 
    transition: var(--transition);
}

.descriptionright__image:hover{
    transform: skew(0);
}


.descriptionright__container{
    display: grid;
    grid-template-columns: 50% 40%;
    gap: 10%;
}

.descriptionright__content h1{
    margin-bottom: 2rem;
}

.descriptionright__content p{
    margin-bottom: 2rem;
}

/*MEDIA QUERIES (medium screens)*/

@media screen and (max-width:960px)
 { 
    .descriptionright__container{
        display: grid;
       grid-template-columns: 1fr;
    }       
 }    

/*MEDIA QUERIES (small screens)*/

@media screen and (max-width:480px){
    .descriptionright__container{
        display: grid;
        grid-template-columns: 1fr;
    }       
}