.descriptionright__container{
    display: grid;
    grid-template-columns: 50% 40%;
    gap: 8%;
}

.descriptionright__content h1{
    margin-bottom: 2rem;
}
.descriptionright__content p{
    margin-bottom: 2rem;
}
.descriptionright__image{ 
    border-radius: 50%;    
    overflow: hidden;
    margin-bottom: 1rem;     
}

/*MEDIA QUERIES (medium screens)*/

@media screen and (max-width:960px)
 {  
    .descriptionright__container{
        margin-top: 5rem;
        display: grid;
        grid-template-columns: 1fr 1fr;        
    } 
    .descriptionright__image {        
        width: 100%;
        margin-left: 2rem;
        margin-top: 5rem; 
        border-radius: 5%;        
    }   
 }  

/*MEDIA QUERIES (small screens)*/

@media screen and (max-width:480px){
    .descriptionright{
        background: var(--gradient-bg);
    }
    .descriptionright__container{
        display: grid;  
        grid-template-columns: 1fr;
        gap: 2rem;              
    }           
   .descriptionright__content{
    order: 2;
    }
    .descriptionright__image {        
        width: 80%;
        margin-left: 1rem;        
        margin-top: 2rem;                   
    } 
}  