.programming{    
    background: var(--main-color);          
   }
.programming__container{
    display: grid;
    grid-template-columns: 50% 40%;    
    grid-template-rows: 1fr;
    gap: 2rem;          
    width: 100vw;    
    height: 100vh;
    align-items: center;
    margin-top: -4rem;
    padding: 1rem 1rem 2rem;
   }
.programming__right{ 
    display: flex;          
    width: fit-content;
    height: fit-content;
    margin-left: 1rem; 
    background: var(--gradient-bg);
    border: 2px solid var(--color-gray-400);
    border-radius: 2rem;
    padding: 2rem;
}
.programming__right h2{
    margin: -12rem 2rem 0;    
}
.programming__right h3{ 
    margin-bottom: 1rem;
    color: var(--gradient-bar-2);
    font-weight: 600;
    font-size: 1.4rem;
}
.title{
    display: flex;
    justify-content: center;
    margin: 1rem;
}
.section h3{
    margin-left: 8rem;
}
.section__intern{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
}
.color{
    background: red;
}

/*MEDIA QUERIES (medium screens)*/

@media screen and (max-width:960px)
{   
    .programming__container{    
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr;      
        width:  80vw;
        height: 100vh;
        gap: 1rem;           
        align-items: center;
        padding-top: 6rem;
        padding-bottom: 2rem;  
        margin-bottom: 2rem;    
     }
     .programming__right{        
        width: fit-content;
        margin-bottom: 6rem;
        padding-bottom: 2rem;        
        margin-left: 1rem; 
    }
    .programming__image{
        width: 80%;
        height: 40%;        
    }
      .section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 2rem;
        margin-bottom: 8rem;         
    }
    .section h3{
    align-content: center;          
    }
    .section__intern{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }
}
    
/*MEDIA QUERIES (small screens)*/

@media screen and (max-width:480px)
{    
    .programming__container{        
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr;      
        width:  90vw;
        height: 100vh;
        gap: 1rem;           
        align-content: start;
        padding-bottom: 4rem;  
        margin-bottom: 2rem;    
     }
    .programming__image{
        margin-top: 1rem;
        max-width: 400px;
        height: 400px;
    }
    .programming__image img{
        margin-top: 1rem;
        width: 100%;
        height: 60%;
    }
}