.loading{
    display: flex;
    justify-content: center;
    margin: auto;
}
.programming{    
    background: var(--main-color);          
   }
.programming__container{
    display: grid;
    grid-template-columns: 50% 40%;    
    grid-template-rows: 1fr;
    gap: 4rem;           
    height: 90vh;
    align-items: center;
    margin: 1rem 4rem 1rem;
    padding: 1rem;
   }
.programming__right{ 
    display: flex;          
    width: fit-content;
    height: fit-content;
    margin-left: 2rem; 
    background: var(--gradient-bg);
    border: 2px solid var(--color-gray-400);
    border-radius: 2rem;
    padding: 2rem;
}
.programming__right h3{ 
    margin-bottom: 1rem;
    color: var(--gradient-bar-2);
    font-weight: 600;
    font-size: 1.4rem;
}
.title{
    display: flex;
    justify-content: center;
    margin: 1rem;
}
.section h3{
    margin-left: 2rem;
}
.section__intern{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
}
.color{
    background: red;
}

/*MEDIA QUERIES (medium screens)*/

@media screen and (max-width:960px)
{   
    .programming__container{    
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr;      
        width:  80vw;
        height: 100vh;
        gap: 2rem;             
        padding-top: 1rem;
        padding-bottom: 1rem;  
        margin-bottom: 2rem;    
     }
     .programming__left{
        justify-content: center;
        margin-left: 2rem;
        margin-top: 1rem;
     }
     .programming__image{
        width: 30rem;
        height: 20rem;
        margin-left: 4rem;
     }
     .programming__right{        
        width: fit-content;    
        margin: -12rem 1rem 2rem;        
        padding-bottom: 2rem;        
    }   
    .section{
        display: flex;        
        flex-direction: column;
        justify-content: start;
        padding-bottom: 2rem;
        margin-bottom: 2rem;         
    }
    .section h3{
    align-content: center;          
    }
    .section__intern{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }
}  
/*MEDIA QUERIES (small screens)*/

@media screen and (max-width:480px)
{    
 .programming__container{       
   display: flex; 
   flex-direction: column;
   gap: 2rem; 
   height: 80%;     
}
.programming__left{
    justify-content: center;
    padding-bottom: 1rem;        
}
.programming__image{
    width: 20rem;
    height: 10rem;
    margin-left: -4rem;
}
.programming__right{
    margin-top: 2rem;
    margin-left: -2rem;      
    padding-bottom: 1rem;        
}
.programming__right h3{ 
    margin-bottom: 1rem;
    color: var(--gradient-bar-2);
    font-weight: 500;
    font-size: 1.1rem;
} 
}    