.programming{    
    background: var(--main-color);          
   }

.programming__container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;       
    width: 100vw;    
    height: 100vh;
    align-items: center;
    padding: 4rem 0 2rem;
   }
.programming__image{        
    width: fit-content;
    height: 400px;
    margin-left: 8rem; 
}

.programming__pdf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 6rem;
}  
.programming__pdf a{
    background: var(--main-color);
    font-size: 2rem;
    border: 2px solid transparent;
    transition: var(--transition);
    padding: 2rem;
    border-radius: 1.5rem;    
}
.title{
    display: flex;
    justify-content: center;
}


/*MEDIA QUERIES (medium screens)*/

@media screen and (max-width:960px)
{   
    .programming__container{
        display: flex;        
        width: 80vw;
        justify-content: space-evenly;
        height: 10rem;
        align-items: center;      
     }
}
    
/*MEDIA QUERIES (small screens)*/

@media screen and (max-width:480px)
{    
    .programming__container{        
        display: flex;
        flex-direction: column;
        width: 50vw;      
        gap: 1rem;
        align-items: center;          
    }
    .programming__image{
        margin-top: 2rem;
        max-width: 400px;
        height: 400px;
    }

    .programming__pdf{
        margin-top: 2rem;
    }
}