@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root  {
    --primary-font: "Lato", sans-serif;
    --secondary-font: "Raleway", sans-serif;   
    --bg-hue:0; 
    --nav-hue:0;      
    --footer-hue:220;
    --primary-hue :216;
    --secondary-hue:144;
    --hover-hue :144;
    --gray-hue :210;
    
    --bg-color:hsl(var(--bg-hue),0%,0%);
    --nav-color:hsl(var(--nav-hue),0%,0%);
    --footer-color:hsl(var(--footer-hue),54%,27%);
    --main-color:hsl(var(--primary-hue),54%,26%);
    --main-color-variant:hsl(var(--primary-hue),50%,16%);
    --secondary-color:hsl(var(--secondary-hue),47%,43%);
    --hover-color:hsl(var(--hover-hue),100%,70%);   

    --color-gray-100: hsl(var(--gray-hue),47%,94%);
    --color-gray-200: hsl(var(--gray-hue),26%,75%);
    --color-gray-300: hsl(var(--gray-hue),24%,64%);
    --color-gray-400: hsl(var(--gray-hue),16%,41%);
    --color-gray-500: hsl(var(--gray-hue),44%,25%);
    --color-gray-600: hsl(var(--gray-hue),48%,15%);

    --container-width-lg:86%;
    --container-width-md:90%;
    --container-width-sm:98%;
    
    --transition:all 500ms ease ;
    
    --gradient-bar :   radial-gradient(circle at 50% 50%, #1F3B68 0%, #000000 62%, #6699FF 90%);
    --gradient-bar-2 : linear-gradient(90deg, rgba(0, 0, 0, 1) 33%, rgba(102, 153, 255, 1) 87%);
    --gradient-bg :    radial-gradient(at bottom right , #3758ff 0% ,#030510 64%) ;
  }
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    list-style: none;
    text-decoration: none;  
  }

  body {
  font-family: 'Montserrat',sans-serif;
  color: var(--color-gray-200);
  line-height: 1.7;
  overflow-x: hidden;
  background: var(--bg-color);
  }
 
  /*MEDIA QUERIES (medium screens)*/

 @media screen and (max-width:960px)
 {  
   .container {
        width: var(--container-width-md);
       }
  h1 {
     font-size: 2rem;    
    }
  h2 {
    font-size: 1.6rem;  
  }     
 }
 
 /*MEDIA QUERIES (small screens)*/
 
 @media screen and (max-width:480px)
 {      
    h1{
     font-size: 2.2rem;
     line-height: 1.3;
    }     
 }