.servicescard{
    background: transparent;
    border: 2px solid rgb(57, 108, 185);
    text-align: center;
    padding: 3rem 2rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
    transition: var(--transition);
    width: 16rem;
    height: 23rem;
    display: flex;
    flex-direction: column;
}

.servicescard:hover{
    background: var(--color-gray-500);   
    border-color: var(--color-gray-400);
    cursor: default;
}

.servicescard h4{
    color: var(--main-color);
    font-size: 1.5rem;
    align-items: flex-start;
    text-transform: uppercase;
    text-decoration: underline;
}

.servicescard p{
height: 12rem;
}

.servicescard h2 {
    padding-top: 4rem;
    justify-content: flex-start;
    text-decoration: underline;

}

