.background{    
    width: 100vw;
    height: 100vh;    
    float: left;
    overflow-y: hidden;
    position: relative;
    top: 20px; 
    bottom:20%;
    left: 200px;  
    right: 0;           
    padding: none;
    object-fit: contain;
    z-index: -10;    
}
.video{
    margin-top: 4rem;
    display: flex;
    justify-content: end;
    height: 80vh;
    width: 60vw;
    margin-left: 12rem;  
    margin-right: 2rem;  
    background: var(--gradient-bg);
    object-fit: contain;
}

@keyframes fadeIn {
    from{opacity: 0;}
    to {opacity: 1;}
}
.fade-in{
    animation: fadeIn 800ms ease-in-out; 
}