.programs{
    background: var(--gradient-bg);
    }
.programs__container {
    margin-top: 4rem;
    display: flex;    
    flex-direction: column;
    gap: 4px;
    flex-wrap: wrap;    
}
.programs__wrapper{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}
.programs__card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    
}

/*MEDIA QUERIES (medium screens)*/

@media screen and (max-width:960px)
{   
  .programs__wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
  .programs__wrapper div :nth-child(3){
    display: flex;
    justify-content: center;
    align-content: center;
  }
}

/*MEDIA QUERIES (small screens)*/

@media screen and (max-width:480px)
{    
  .programs__wrapper{
    display: flex;
    justify-content: start;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    gap: 1rem;
}
}
 
    