.programs{
    background: var(--gradient-bg);
    }
.programs__container {
    display: flex;    
    flex-direction: column;
    gap: 4px;
    flex-wrap: wrap;    
}
.programs__wrapper{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}
.programs__card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    
}

/*MEDIA QUERIES (medium screens)*/

@media screen and (max-width:960px)
{   
.programs__container{
   margin-top: 1rem;
  
}
}
/*MEDIA QUERIES (small screens)*/

@media screen and (max-width:480px)
{    
  .programs__container{
    margin-top: -4rem;
    flex-wrap: nowrap;
  }
}
 
    