.programs{
    background: var(--gradient-bg);
    }
.programs {
    display: flex;
    flex-direction: row;
    gap: 10px;    
}
.programs__card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}
.programs__wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}